@font-family: 'Roboto', Arial, Helvetica, sans-serif;

.transition(){
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

body {
    font-weight: 400;
    font-family: @font-family;
}

.header {
    z-index: 200;
    height: 54px;
    background-color: #b3b3b3;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    max-width: 230px;
    width: 100%;
    z-index: 100;
    background-color: #4c4c4d;
    color: white;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: white;
        }
    }
}

.nav-menu {
    list-style: none;
    margin-top: 70px;
    padding: 0;

    li {
        padding: 12px 5px 12px 25px;

        &:hover {
            background-color: #b3a172;            
            cursor: pointer;
            .transition();
        }
    }

    span {
        margin: 0 5px;
        font-size: 16px;
    }
}

.nav-burger-icon {
    img {
        float: left;
        margin: 21px 0 0 15px;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

#nav-menu-input:checked {
    & + .nav {
        max-width: 65px;
    }

    & + .nav .nav-menu {
        margin-top: 70px;
    }

    & + .nav .nav-menu span {
        display: none;
    }
}